.homePageWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  height: 100vh;
}

.formWrapper {
  background-color: #282a36;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  max-width: 90%;
}

footer {
  position: fixed;
  bottom: 0;
}

footer a {
  color: #4aee88;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  border-bottom: 1px solid #4aed88;
}

.inputGroup {
  display: flex;
  flex-direction: column;
}

.logo {
  width: 300px;
  margin-bottom: 10px;
}

.mainLabel {
  margin-bottom: 20px;
  margin-top: 0;
}

.inputBox {
  padding: 10px;
  outline: none;
  border: none;
  margin-bottom: 14px;
  font-size: 16px;
  font-weight: bold;
  background: #eee;
  border-radius: 5px;
}

.btn {
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.joinbtn {
  background-color: #4aee88;
  align-self: flex-end;
  width: 100px;
  font-weight: 600;
}

.joinbtn:hover {
  color: white;
  background-color: #2b824c;
  transition: all 0.3s ease-in-out;
}

.creatInfo {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.createNewBtn {
  color: #4aed88;
  background: none;
  border: none;
  text-decoration: none;
  border-bottom: 1px solid #4aed88;
  transition: all 0.3s ease-in-out;
}

.createNewBtn:hover,
footer a:hover {
  color: #2b824c;
  border-color: #2b824c;
  transition: all 0.3s ease-in-out;
}