.homePageWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  height: 100vh;
}

.formWrapper {
  background-color: #282a36;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  /* margin-top: 100px; */
  max-width: 90%;
}

footer {
  position: fixed;
  bottom: 0;
}

footer a {
  color: #4aee88;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  border-bottom: 1px solid #4aed88;
}

.inputGroup {
  display: flex;
  flex-direction: column;
}

.logo {
  width: 300px;
  margin-bottom: 10px;
}

.mainLabel {
  margin-bottom: 20px;
  margin-top: 0;
}

.inputBox {
  padding: 10px;
  outline: none;
  border: none;
  margin-bottom: 14px;
  font-size: 16px;
  font-weight: bold;
  background: #eee;
  border-radius: 5px;
}

.btn {
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.joinbtn {
  background-color: #4aee88;
  align-self: flex-end;
  width: 100px;
  font-weight: 600;
}

.joinbtn:hover {
  color: white;
  background-color: #2b824c;
  transition: all 0.3s ease-in-out;
}

.creatInfo {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.createNewBtn {
  color: #4aed88;
  background: none;
  border: none;
  text-decoration: none;
  border-bottom: 1px solid #4aed88;
  transition: all 0.3s ease-in-out;
}

.createNewBtn:hover,
footer a:hover {
  color: #2b824c;
  border-color: #2b824c;
  transition: all 0.3s ease-in-out;
}


.mainWrap {
  display: grid;
  grid-template-columns: 230px 1fr;
  /* height: 100vh; */
}

.aside {
  background: #1c1e29;
  padding: 16px;
  color: white;
  display: flex;
  flex-direction: column;
}

.asideInner {
  flex: 1;
}

.clientList {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.client {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
}

.userName {
  margin-top: 10px;
}

.logo {

  padding-bottom: 10px;
}

.logoImg {
  border-bottom: 1px solid #424242;
  height: 60px;
  /* width: 200px; */
}

.copyBtn {
  font-weight: 600;
}
.copyBtn:hover {
  color: white;
  background-color: #83868473;
  transition: all 0.3s ease-in-out;
}

.leaveBtn {
  margin-top: 20px;
  background: #4aed88;
  font-weight: 600;
}

.leaveBtn:hover {
  color: white;
  background-color: #2b824c;
  transition: all 0.3s ease-in-out;
}

.CodeMirror {
  min-height: calc(100vh - 20px);
  font-size: 20px;
  line-height: 1.6;
  padding-top: 20px;
}